/* aside */
.aside {
	-webkit-transition: left 300ms ease-out;
	-moz-transition: left 300ms ease-out;
	-o-transition: left 300ms ease-out;
	transition: left 300ms ease-out;
	background: var(--main_bgOpacity);
	z-index: 1100;
	overflow-y: hidden;
	height: 100vh;
	width: auto;
	min-width: 20vw;
	max-width: 70vw;
	box-shadow: 0 0 10px rgb(51, 41, 41)
}
.aside_left {
	-webkit-transition: left 300ms ease-out;
	-moz-transition: left 300ms ease-out;
	-o-transition: left 300ms ease-out;
	transition: left 300ms ease-out;
	position: absolute;
	top: 0;
	left: 0;
}
.aside_left.closed {
	-webkit-transition: left 300ms ease-out;
	-moz-transition: left 300ms ease-out;
	-o-transition: left 300ms ease-out;
	transition: left 300ms ease-out;
	left: -100%;
}
.aside_head {
	background: var(--main_border);
	padding: .5em;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center
}
/* aside */
/* end */