/*=============================================
=                 console                     =
=============================================*/
.console {
	-moz-transition: bottom 0.1s ease-in 0s, opacity 0.2s ease-in 0s;
	-webkit-transition: bottom 0.1s ease-in 0s, opacity 0.2s ease-in 0s;
	-o-transition: bottom 0.1s ease-in 0s, opacity 0.2s ease-in 0s;
	transition: bottom 0.1s ease-in 0s, opacity 0.2s ease-in 0s;
	background: var(--main_bg);
	width: 100%;
	height: 20vh;
	position: absolute;
	z-index: 1080;
	bottom: 0;
	opacity: 1;
	background: var(--bars_bg);
	display: flex;
	flex-direction: column
}
.console.closed {
	bottom: -100%;
	opacity: 0;
}
.console>li {
	flex-shrink: 1
}
.console>li:nth-child(2) {
	overflow-y: scroll;
	height: 100%;
}
.console_bar{
background: var(--main_bg);
padding: 2px
}
.console_output>li {
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1px;
	padding-top: 1px;
}
.console_output>li>span:nth-child(1) {
	flex-basis: 5%;
}
.console_output>li>span:nth-child(2) {
	flex-basis: 95%;
	display: flex;
	align-items: center;
}
.console_output>li>span:nth-child(2)>span:nth-child(1) {
	flex-basis: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.console_output>li>span:nth-child(2)>span:nth-child(2) {
	flex-basis: 65%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.console_output>li>span:nth-child(2)>span:nth-child(3) {
	flex-basis: 35%;
	text-align: right;
	color:white;
	text-decoration: line;
}
.console_output>li>span:nth-child(2)>span:nth-child(2)>pre {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.console_message {
	font-size: 12px;
}
.console_message i {
	font-size: 12px;
}
.console_message pre {
	font-family: "Source Code Pro", MonoSpace;
	font-weight: 400;
}
.console_message_log {
	color: rgb(255, 255, 255);
}
.console_message_error {
	color: #f75c77;
}
.console_message_warn {
	color: rgb(248, 246, 135);
}