/* Шаблоны представления */
.fronty_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transition: opacity 500ms ease-out;
    -webkit-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}
/* editors block editor*/
.fronty_wrapper_block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.fronty_wrapper_block_editor {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.fronty_wrapper_block_editor_bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
/* editors block */
.fronty_wrapper_block_preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.fronty_wrapper_block_preview>iframe {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
/* layout direction horizontal*/
.fronty_wrapper-horizontal {
    flex-direction: column;
}
.fronty_wrapper-horizontal .fronty_wrapper_block {
    width: 100%;
    height: calc(100%/2);
}
/* layout direction vertical*/
.fronty_wrapper-vertical {
    flex-direction: column;
    flex-wrap: wrap
}
.fronty_wrapper-vertical .fronty_wrapper_block {
    height: 100%;
    width: calc(100%/2);
}