.split-gutter-vertical {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    bottom: 0;
    cursor: row-resize
}
.split-gutter-horizontal {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    right: 0;
    cursor: col-resize
}
.split-gutter-horizontal:active,
.split-gutter-vertical:active,
.split-gutter-horizontal:hover,
.split-gutter-vertical:hover {
    background-color: rgb(124, 116, 194) !important;
}
.split-gutter-vertical>div,
.split-gutter-horizontal>div {
    background-color: rgb(124, 116, 194) !important;
}
.split-gutter-horizontal>div {
    height: 100%;
    width: 2px;
}
.split-gutter-vertical>div {
    width: 100%;
    height: 2px;
}
.split-gutter-horizontal,
.split-gutter-vertical {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(31, 31, 31, 0.1) !important;
    transition: background-color 200ms ease-in-out;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
}