.split-gutter-vertical {
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    cursor: row-resize;
    height: 4px;
    align-items: center;
}

.split-gutter-horizontal {
    width: 4px;
    box-sizing: border-box;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;
    cursor: col-resize;
    justify-content: center
}

.split-gutter-horizontal,
.split-gutter-vertical {
    z-index: 9999;
    display: flex;
    position: absolute;
    transition: background-color 200ms ease-in-out;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
}

.split-gutter-horizontal:active,
.split-gutter-horizontal:hover,
.split-gutter-horizontal:focus {
    min-height: 100%;
    box-sizing: border-box;
    background-color: rgba(31, 31, 31, 1) !important;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.split-gutter-vertical:hover,
.split-gutter-vertical:active,
.split-gutter-vertical:focus {
    min-width: 100%;
    box-sizing: border-box;
    background-color: rgba(31, 31, 31, 1) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* 
.split-gutter-horizontal>div {
    width: 4px;
    min-height: 100%;
    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.split-gutter-vertical>div {
    min-width: 100%;
    height: 4px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.split-gutter-vertical>div,
.split-gutter-horizontal>div {
    background-color: rgba(31, 31, 31, 1) !important;
    transition: width 200ms ease-in-out, height 200ms ease-in-out, background-color 200ms ease-in-out;
    -webkit-transition: width 200ms ease-in-out, height 200ms ease-in-out, background-color 200ms ease-in-out;
    -moz-transition: width 200ms ease-in-out, height 200ms ease-in-out, background-color 200ms ease-in-out;
    -ms-transition: width 200ms ease-in-out, height 200ms ease-in-out, background-color 200ms ease-in-out;
    -o-transition: width 200ms ease-in-out, height 200ms ease-in-out, background-color 200ms ease-in-out;
}
.split-gutter-horizontal:active>div,
.split-gutter-horizontal:hover>div,
.split-gutter-horizontal:focus>div {
    width: 100%;
    min-height: 100%;
}
.split-gutter-vertical:hover>div,
.split-gutter-vertical:active>div,
.split-gutter-vertical:focus>div {
    min-width: 100%;
    height: 100%;
} */