<h3>Editor options
    <div class="group_separator horizontal"></div>
</h3>
<div class="group group-column">
    <div class="group">
        <div class="group_form group_form-start">
            <label class="group_label" for="changeTheme">Editor Theme</label>
            <select class="group_select" id="changeTheme" data-action="changeTheme">
                <option value="idea" id="idea">idea</option>
                <option value="icecoder" id="icecoder">icecoder</option>
                <option value="isotope" id="isotope">isotope</option>
                <option value="cobalt" id="cobalt">cobalt</option>
                <option value="dracula" id="dracula">dracula</option>
                <option value="material" id="material">material</option>
                <option value="monokai" id="monokai">monokai</option>
                <option value="one-dark" id="one-dark">one-dark</option>
                <option value="night" id="night">night</option>
                <option value="liquibyte" id="liquibyte">liquibyte</option>
            </select>
        </div>
    </div>
    <div class="group_separator horizontal"></div>
    <div class="group">
        <div class="group_form group_form-start">
            <label class="group_label" for="changeFontFamily"> Font Family</label>
            <select id="changeFontFamily" class="group_select" data-action="changeFontFamily">
                <option id="Consolas" value="Consolas">Consolas</option>
                <option id="CourierNew" value="Courier New">Courier New</option>
                <option id="SourceCodePro" value="Source Code Pro">Source Code Pro</option>
                <option id="Roboto" value="Roboto">Roboto</option>
            </select>
        </div>
        <div class="group_separator"></div>
        <div class="group_form group_form-start">
            <label class="group_label" for="changeFontSize"> Font Size </label>
            <select id="changeFontSize" class="group_select" data-action="changeFontSize">
                <option value="6px" id="6px">6px</option>
                <option value="7px" id="7px">7px</option>
                <option value="8px" id="8px">8px</option>
                <option value="9px" id="9px">9px</option>
                <option value="10px" id="10px">10px</option>
                <option value="12px" id="12px">12px</option>
                <option value="14px" id="14px">14px</option>
                <option value="16px" id="16px">16px</option>
                <option value="18px" id="18px">18px</option>
                <option value="20px" id="20px">20px</option>
                <option value="22px" id="22px">22px</option>
                <option value="24px" id="24px">24px</option>
                <option value="26px" id="26px">26px</option>
                <option value="28px" id="28px">28px</option>
                <option value="30px" id="30px">30px</option>
                <option value="32px" id="32px">32px</option>
                <option value="34px" id="34px">34px</option>
                <option value="36px" id="36px">36px</option>
            </select>
        </div>
    </div>
</div>
<script>
/*     $(document).ready(function () {
        $('[data-action="changeTheme"]').find("#" + storage.getKey('local', editorOptions, 'theme').replace(/\s/g, '')).prop('selected',true);
        $('[data-action="changeFontSize"]').find("#" + storage.getKey('local', frontyOptions, 'fontSize').replace(/\s/g, '')).prop('selected',true);
        $('[data-action="changeFontFamily"]').find("#" + storage.getKey('local', frontyOptions, 'fontFamily').replace(/\s/g, '')).prop('selected',true);
    }); */
</script>