.miniMap {
	width: 100px;
	right: 0;
	top: 0;
	z-index: 1080;
	opacity: 0.5;
	position: absolute;
	overflow-y: auto;
	cursor: pointer;
}
.miniMap .CodeMirror {
	cursor: pointer;
	z-index: 1070;
	background: rgba(0, 0, 0, 0.5) !important;
	font-size: 4px;
	line-height: 4px;
	height: 100%;
	width: 100%;
	position: relative;
}
.miniMapBar {
	padding-bottom: -4px;
	width: 100px;
	z-index: 1090;
	background-color: rgba(255, 255, 255, 0.4);
	right: 0;
	top: 0;
	opacity: 0.5;
	position: absolute;
	cursor: pointer;
}