@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Medium'), local('FiraCode-Medium'), url('FiraCode-Medium.woff2') format('woff2'), url('FiraCode-Medium.woff') format('woff'), url('FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Regular'), local('FiraCode-Regular'), url('FiraCode-Regular.woff2') format('woff2'), url('FiraCode-Regular.woff') format('woff'), url('FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Bold'), local('FiraCode-Bold'), url('FiraCode-Bold.woff2') format('woff2'), url('FiraCode-Bold.woff') format('woff'), url('FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Light'), local('FiraCode-Light'), url('FiraCode-Light.woff2') format('woff2'), url('FiraCode-Light.woff') format('woff'), url('FiraCode-Light.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}