:root {
    --main_bg: #191919;
    --main_bgDark: rgb(24, 19, 44);
    --main_bgOpacity: rgba(24, 19, 44, 0.9);
    --main_bgLight: #523f94;
    --main_bgActive: rgba(115, 77, 255, 0.714);
    --main_border: rgb(24, 19, 44);
    --bars_bg: #372963;
    --bars_bg2: #31334b;
    --btn_color: #28a9ff;
    --btn_color_hover: #EC1561;
    --btn_color_active: #00ff77;
    --input_color: #BBBBBB;
    --input_bg_active: #624bb4;
    --input_color_active: #ffffff;
    --font_color: #BBBBBB;
    --color-dark: rgb(19, 19, 19)
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
}

*:not(html) {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body,
html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.frontland {
    font-family: sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--font_color);
    background: var(--main_bg)
}

.frontland-header,
.frontland-footer {
    padding: .5em 1em .5em 1em;
    background: var(--main_bgDark);
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}