.frontland-workspace {
    width: 100%;
    height: 100%;
}
.split-view-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap
}
.split-view-container.vertical {
    flex-direction: column
}
.split-view-container.horizontal {
    flex-direction: row
}
.split-view-container>.split-view-view {
    white-space: normal;
    flex: none;
    position: relative
}
.split-view-container.horizontal>.split-view-view {
    height: 100%;
    display: inline-block
}
.frontland-workspace__block_editor_bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* editors block */
#preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.frontland-workspace__block_preview {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland-workspace__block_preview>iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.split-view-container {
    position: relative;
    width: 100%;
    height: 100%
}
.split-view-container.vertical>.split-view-view {
    width: 100%
}