/* Шаблоны представления */
.frontland__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: opacity 0.2s ease-out, width 300ms ease-out;
    -webkit-transition: opacity 0.2s ease-out, width 300ms ease-out;
    -o-transition: opacity 0.2s ease-out, width 300ms ease-out;
    -moz-transition: opacity 0.2s ease-out, width 300ms ease-out; 
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}
.frontland__wrapper__workspace {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.frontland__wrapper__workspace__split {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.frontland__wrapper__workspace__block_editor_bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* editors block */
#preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.frontland__wrapper__workspace__block_preview {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland__wrapper__workspace__block_preview>iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland-split-view {
    position: relative;
    width: 100%;
    height: 100%
}

.frontland-split-view {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: nowrap
}
.frontland-split-view.vertical {
    flex-direction: column
}
.frontland-split-view.horizontal {
    flex-direction: row
}
.frontland-split-view>.split-view-view {
    white-space: normal;
    flex: none;
    position: relative
}
.frontland-split-view.vertical>.split-view-view {
    width: 100%
}
.frontland-split-view.horizontal>.split-view-view {
    height: 100%;
    display: inline-block
}