.frontland {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.frontland-header {
    padding: .5em 1em .5em 1em;
    background: rgb(24, 19, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid #ffffff1a;
    z-index: 1000;
    flex: 0 0 auto;
}
.frontland-workspace {
    font-family: 'Open Sans', sans-serif;
    color: rgb(223, 223, 223);
    flex:0 0 auto;
}
.frontland-footer {
    padding: .5em 1em .5em 1em;
    background: rgb(24, 19, 44);
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid #ffffff1a;
    z-index: 1000;
    flex: 0 0 auto;
}
/* .frontland-workspace {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: rgb(223, 223, 223)
}
 */
.frontland.vertical,
.frontland-workspace.vertical {
    flex-direction: column
}
.frontland-workspace-area {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    position: relative;
    white-space: nowrap
}
.frontland-workspace>.frontland-workspace-area.vertical {
    flex-direction: column
}
.frontland-workspace>.frontland-workspace-area.horizontal {
    flex-direction: row
}
.frontland-workspace>.frontland-workspace-area>.split-view-view {
    white-space: normal;
    flex: none;
    position: relative
}
.frontland-workspace>.frontland-workspace-area.horizontal>.split-view-view {
    height: 100%;
    display: inline-block
}
.frontland-workspace>.frontland-workspace-area.vertical>.split-view-view {
    width: 100%
}
/* editors block */
.frontland-workspace-area-preview {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland-workspace-area-preview-iframe {
    position: absolute;
    min-height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}