.fronty__workbench{
 display: flex;
 width: 100%;
 height: 100%;
 white-space: nowrap;
}
element.style {
}
.monaco-split-view2 {
    position: relative;
    width: 100%;
    height: 100%;
}
div {
    display: block;
}
.monaco-split-view2>.split-view-container>.split-view-view {
    white-space: normal;
    flex: none;
    position: relative;
}
.monaco-split-view2>.split-view-container {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
.monaco-workbench {
    color: #cccccc;
}
.monaco-workbench {
    font-size: 13px;
    line-height: 1.4em;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.windows {
    --monaco-monospace-font: Consolas,Inconsolata,"Courier New",monospace;
}
.windows {
    font-family: Segoe WPC,Segoe UI,sans-serif;
}
.windows {
    --monaco-monospace-font: Consolas,Inconsolata,"Courier New",monospace;
}
.windows {
    font-family: Segoe WPC,Segoe UI,sans-serif;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 11px;
    user-select: none;
}