.frontland,
.frontland-workspace {
    width: 100%;
    height: 100%;
    position: relative
}
.split-view-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap
}
.split-view-container.vertical {
    flex-direction: column
}
.split-view-container.horizontal {
    flex-direction: row
}
.split-view-container>.split-view-view {
    white-space: normal;
    flex: none;
    position: relative
}
.split-view-container.horizontal>.split-view-view {
    height: 100%;
    display: inline-block
}

.frontland-workspace-area-preview {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland-workspace-area-preview>iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}