/* Шаблоны представления */
.frontland-workspace {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}
.frontland-split-view,
.split-view-container {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: nowrap
}
.frontland-split-view.vertical {
    flex-direction: column
}
.frontland-split-view.horizontal {
    flex-direction: row
}
.frontland-workspace {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.frontland-workspace__split {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.frontland-workspace__block_editor_bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* editors block */
#preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.frontland-workspace__block_preview {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland-workspace__block_preview>iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland-split-view {
    position: relative;
    width: 100%;
    height: 100%
}
.frontland-split-view>.split-view-view {
    white-space: normal;
    flex: none;
    position: relative
}
.frontland-split-view.vertical>.split-view-view {
    width: 100%
}
.frontland-split-view.horizontal>.split-view-view {
    height: 100%;
    display: inline-block
}