.frontland {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.frontland-footer,
.frontland-header {
    position: relative;
    background: rgb(24, 19, 44);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
}
.frontland-workspace {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: rgb(223, 223, 223);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.frontland-workspace-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.split-view-container {
    position: relative;
}
.split-view-container {
    white-space: nowrap
}
,

.frontland-workspace-area.vertical {
    flex-direction: row
}
.frontland-workspace-area.horizontal {
    flex-direction: column
}
.split-view-container>.split-view-view {
    white-space: normal;
    flex: none;
    position: relative
}
.split-view-container.horizontal>.split-view-view {
    height: 100%;
    display: inline-block
}
.split-view-container.vertical>.split-view-view {
    width: 100%
}
/* editors block */
#preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.frontland-workspace-area-preview {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}
.frontland-workspace-area-preview>iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: none
}