/* Шаблоны представления */
/* layout1 */
.fronty .wrapper.wrapper-layout1 {
    transition: opacity 500ms ease-out;
    -webkit-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow: hidden
}
.fronty .wrapper_block-layout1 {
    width: calc(100%/2);
    height: calc(100%/2);
}
/* layout2 */
.fronty .wrapper.wrapper-layout2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap
}
.fronty .wrapper_block-layout2 {
    width: calc(100%/3);
    height: calc(100%/2)
}
.fronty #wrapper_block3.wrapper_block-layout2 {
    width: 100%;
    height: calc(100%/2);
}
/* layout3 */
.fronty .wrapper.wrapper-layout3 {
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
.fronty .wrapper_block-layout3 {
    width: calc(100%/2);
    height: calc(100%/3)
}
.fronty #wrapper_block3.wrapper_block-layout3{
    width: calc(100%/2);
    height: 100%;
}
/* layout4 */
.fronty .wrapper.wrapper-layout4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
.fronty .wrapper_block-layout4 {
    width: calc(100%/2);
    height: calc(100%/3);
}
.fronty  #wrapper_block3.wrapper_block-layout4 {
    width: calc(100%/2);
    height: 100%;
    order: 1
}
.fronty #wrapper_block0.wrapper_block-layout4 {
    order: 2
}
.fronty #wrapper_block1.wrapper_block-layout4 {
    order: 3
}
.fronty #wrapper_block2.wrapper_block-layout4{
    order: 4
}
/* Шаблоны представления */
/* end */
.ui-resizable-handle.ui-resizable-s, .ui-resizable-handle.ui-resizable-n  {
    flex: 0 0 auto;
    height: 18px;
    top: 0;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #4c00ff;
    cursor: row-resize;
}